extends ../layout/main

block variables
     - var title = 'Quiz';
     - var pageClass = 'questions';

block content
   .main
      .question-app.loading
         .number
         .question
         .answers
            .btn
            .btn
            .btn
            .btn
         .space-holder
         .controls
            .btn
            .btn


block scripts
   script.
      window.addEventListener('load', (evt) => {
         window.page='questions';
      })
